*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:white;
    overflow-x:hidden;

    background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);

    background-size:40px 40px;
}

/* NAVBAR */

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:22px 70px;

    position:sticky;
    top:0;
    z-index:1000;

    background:#050505ee;
    backdrop-filter:blur(10px);

    border-bottom:1px solid #1a1a1a;
}

.logo h1{
    color:#39ff14;
    font-size:38px;
    font-weight:900;
    letter-spacing:2px;
}

.links{
    display:flex;
    gap:35px;
}

.links a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:bold;
    transition:0.3s;
    position:relative;
}

.links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;

    width:0%;
    height:2px;

    background:#39ff14;
    transition:0.3s;
}

.links a:hover{
    color:#39ff14;
}

.links a:hover::after{
    width:100%;
}

/* HERO */

.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:120px 20px 80px;
}

.hero h2{
    font-size:90px;
    line-height:1.1;
    margin-bottom:25px;
    max-width:1300px;
}

.hero h2 span{
    color:#39ff14;
    text-shadow:0 0 25px #39ff14;
}

.hero p{
    color:#999;
    font-size:24px;
    margin-bottom:45px;
    max-width:850px;
    line-height:1.7;
}

.hero-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

/* BUTTONS */

.contact-btn,
.view-btn{
    padding:18px 42px;
    border-radius:15px;

    text-decoration:none;
    font-size:18px;
    font-weight:bold;

    transition:0.3s;
}

.contact-btn{
    background:#39ff14;
    color:black;
}

.contact-btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #39ff14;
}

.view-btn{
    border:2px solid #39ff14;
    color:#39ff14;
}

.view-btn:hover{
    background:#39ff14;
    color:black;
    box-shadow:0 0 25px #39ff14;
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:30px;

    padding:0 60px 120px;
}

.stat-box{
    background:#0d0d0d;

    border:1px solid #1d1d1d;
    border-radius:25px;

    text-align:center;

    padding:50px 20px;

    transition:0.3s;
}

.stat-box:hover{
    transform:translateY(-10px);
    border-color:#39ff14;
    box-shadow:0 0 25px rgba(57,255,20,0.2);
}

.stat-box h3{
    color:#39ff14;
    font-size:65px;
    margin-bottom:15px;
}

.stat-box p{
    color:#999;
    font-size:20px;
}

/* SERVICES */

.services{
    padding:120px 60px;
    text-align:center;
}

.services h2{
    font-size:65px;
    margin-bottom:60px;
}

.services h2 span{
    color:#39ff14;
}

.services-box{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.service{
    background:#0d0d0d;

    border:1px solid #1d1d1d;
    border-radius:25px;

    padding:45px 25px;

    transition:0.3s;
}

.service:hover{
    transform:translateY(-10px);
    border-color:#39ff14;
    box-shadow:0 0 25px rgba(57,255,20,0.2);
}

.service i{
    color:#39ff14;
    font-size:50px;
    margin-bottom:20px;
}

.service h3{
    font-size:26px;
    margin-bottom:15px;
}

.service p{
    color:#999;
    font-size:17px;
    line-height:1.6;
}

/* PROJECTS */

.projects-section{
    padding:120px 60px;
}

.projects-section h2{
    text-align:center;
    font-size:65px;
    margin-bottom:20px;
}

.projects-section h2 span{
    color:#39ff14;
}

.project-text{
    text-align:center;
    color:#999;
    font-size:22px;
    margin-bottom:60px;
}

.projects{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.project-card{
    position:relative;
    overflow:hidden;

    border-radius:25px;
    border:1px solid #1d1d1d;

    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(57,255,20,0.25);
}

.project-card img{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
    transition:0.4s;
}

.project-card:hover img{
    transform:scale(1.05);
}

.overlay{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;

    padding:30px;

    background:linear-gradient(transparent,#000);
}

.overlay h3{
    font-size:28px;
}

/* WHY ME */

.why-me{
    padding:120px 60px;
    text-align:center;
}

.why-me h2{
    font-size:65px;
    margin-bottom:60px;
}

.why-me h2 span{
    color:#39ff14;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.why-box{
    background:#0d0d0d;

    border:1px solid #1d1d1d;
    border-radius:25px;

    padding:45px 20px;

    transition:0.3s;
}

.why-box:hover{
    transform:translateY(-10px);
    border-color:#39ff14;
    box-shadow:0 0 25px rgba(57,255,20,0.2);
}

.why-box i{
    color:#39ff14;
    font-size:45px;
    margin-bottom:20px;
}

.why-box h3{
    font-size:25px;
}

/* WORK */

.work{
    text-align:center;
    padding:140px 20px;
}

.work h2{
    font-size:85px;
    margin-bottom:25px;
    line-height:1.2;
}

.work h2 span{
    color:#39ff14;
    text-shadow:0 0 25px #39ff14;
}

.work p{
    color:#999;
    font-size:26px;
    margin-bottom:45px;
}

.work-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:15px;

    padding:22px 50px;

    border:2px solid #39ff14;
    border-radius:20px;

    color:white;
    text-decoration:none;

    font-size:26px;
    font-weight:bold;

    transition:0.3s;
}

.work-btn i{
    color:#39ff14;
}

.work-btn:hover{
    background:#39ff14;
    color:black;
    box-shadow:0 0 30px #39ff14;
}

.work-btn:hover i{
    color:black;
}

/* SOCIALS */

.socials{
    text-align:center;
    padding:100px 20px 40px;

    border-top:1px solid #1d1d1d;
}

.socials h2{
    font-size:60px;
    margin-bottom:50px;
}

.socials h2 span{
    color:#39ff14;
}

.social-icons{
    display:flex;
    justify-content:center;
    align-items:center;

    gap:25px;
    flex-wrap:wrap;

    margin-bottom:40px;
}

.social-icons a{
    width:85px;
    height:85px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    text-decoration:none;

    font-size:34px;

    transition:0.3s;

    position:relative;

    flex-shrink:0;
}

.social-icons a i{
    font-size:34px;
    line-height:1;
}

.social-icons a:hover{
    transform:translateY(-10px) scale(1.08);
}

/* TOOLTIP */

.social-icons a span{
    position:absolute;

    top:-55px;
    left:50%;

    transform:translateX(-50%) translateY(10px);

    background:#111;
    color:white;

    padding:8px 16px;
    border-radius:12px;

    font-size:14px;
    font-weight:bold;

    opacity:0;
    pointer-events:none;

    transition:0.3s;

    white-space:nowrap;
}

.social-icons a span::after{
    content:"";

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-8px;

    border:8px solid transparent;
    border-top-color:#111;
}

.social-icons a:hover span{
    opacity:1;
    transform:translateX(-50%) translateY(0);
}

/* COLORS */

.youtube{
    background:#ff0000;
}

.youtube:hover{
    box-shadow:0 0 25px #ff0000;
}

.facebook{
    background:#1877f2;
}

.facebook:hover{
    box-shadow:0 0 25px #1877f2;
}

.tiktok{
    background:#111;
}

.tiktok:hover{
    box-shadow:0 0 25px rgba(255,255,255,0.2);
}

.instagram{
    background:#e1306c;
}

.instagram:hover{
    box-shadow:0 0 25px #e1306c;
}

.whatsapp{
    background:#25d366;
}

.whatsapp:hover{
    box-shadow:0 0 25px #25d366;
}

.copyright{
    color:#888;
    margin-top:25px;
    font-size:18px;
}

/* MOBILE */

@media(max-width:1100px){

    .services-box,
    .why-container{
        grid-template-columns:repeat(2,1fr);
    }

    .hero h2{
        font-size:65px;
    }

    .work h2{
        font-size:60px;
    }

}

@media(max-width:900px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .links{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        min-height:auto;
        padding:120px 20px 80px;
    }

    .hero h2{
        font-size:45px;
    }

    .hero p{
        font-size:18px;
    }

    .stats,
    .services-box,
    .projects,
    .why-container{
        grid-template-columns:1fr;
    }

    .stats{
        padding:0 20px 80px;
    }

    .services,
    .projects-section,
    .why-me,
    .work,
    .socials{
        padding:80px 20px;
    }

    .services h2,
    .projects-section h2,
    .why-me h2,
    .socials h2,
    .work h2{
        font-size:38px;
    }

    .project-text,
    .work p{
        font-size:18px;
    }

    .stat-box h3{
        font-size:45px;
    }

    .stat-box p{
        font-size:18px;
    }

    .service h3,
    .why-box h3{
        font-size:22px;
    }

    .social-icons{
        gap:18px;
    }

    .social-icons a{
        width:70px;
        height:70px;
        font-size:28px;
    }

    .social-icons a i{
        font-size:28px;
    }

    .copyright{
        font-size:15px;
    }

}