*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:white;

    background-image:
    linear-gradient(#111 1px, transparent 1px),
    linear-gradient(90deg, #111 1px, transparent 1px);

    background-size:40px 40px;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    border-bottom:1px solid #222;

    position:sticky;
    top:0;
    z-index:1000;

    background:#050505d8;
    backdrop-filter:blur(10px);
}

.logo h1{
    font-size:22px;
    color:#39ff14;
}

.links{
    display:flex;
    gap:30px;
}

.links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.links a:hover{
    color:#39ff14;
}

/* HERO */

.hero{
    text-align:center;
    padding:120px 20px;

    animation:fadeUp 1s ease;
}

.hero h2{
    font-size:70px;
    margin-bottom:20px;
    line-height:1.1;
}

.hero p{
    color:#999;
    margin-bottom:35px;
    font-size:20px;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* CONTACT BUTTON */

.contact-btn{
    background:#39ff14;
    color:black;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    font-weight:bold;
    display:inline-block;
    transition:0.3s;
}

.contact-btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px #39ff14;
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

    padding:40px 60px;
}

.stat-box{
    background:#0c0c0c;
    border:1px solid #222;
    border-radius:20px;

    padding:40px 20px;

    text-align:center;

    transition:0.3s;
}

.stat-box:hover{
    transform:translateY(-10px);
    border-color:#39ff14;
    box-shadow:0 0 25px #39ff1440;
}

.stat-box h3{
    color:#39ff14;
    font-size:45px;
    margin-bottom:10px;
}

.stat-box p{
    color:#999;
    font-size:16px;
}

/* SERVICES */

.services{
    padding:100px 60px;
    text-align:center;
}

.services h2{
    font-size:45px;
    margin-bottom:60px;
}

.services-box{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.service{
    background:#0c0c0c;
    border:1px solid #222;
    border-radius:20px;

    padding:40px 20px;

    transition:0.3s;
}

.service:hover{
    transform:translateY(-10px);
    border-color:#39ff14;
    box-shadow:0 0 25px #39ff1440;
}

.service i{
    font-size:40px;
    color:#39ff14;
    margin-bottom:20px;
}

.service h3{
    font-size:20px;
}

/* PROJECTS */

.projects{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    padding:60px;
}

.projects img{
    width:100%;
    border-radius:20px;
    transition:0.4s;
    cursor:pointer;
}

.projects img:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #39ff14;
}

/* WORK */

.work{
    text-align:center;
    padding:100px 20px;
}

.work h2{
    font-size:60px;
    margin-bottom:20px;
}

.work h2 span{
    color:#39ff14;
}

.work p{
    color:#999;
    font-size:20px;
    margin-bottom:40px;
}

.work-btn{
    display:inline-flex;
    align-items:center;
    gap:15px;

    background:#111;
    border:2px solid #39ff14;

    color:white;
    text-decoration:none;

    padding:18px 40px;
    border-radius:15px;

    font-size:22px;
    font-weight:bold;

    transition:0.3s;
}

.work-btn i{
    color:#39ff14;
    font-size:28px;
}

.work-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px #39ff14;
}

/* SOCIALS */

.socials{
    text-align:center;
    padding:70px 20px;
    border-top:1px solid #222;
    margin-top:40px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.social-icons a{
    width:80px;
    height:80px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    color:white;
    text-decoration:none;
    transition:0.3s;
    position:relative;
}

.social-icons a:hover{
    transform:translateY(-10px) scale(1.1);
}

/* TOOLTIP */

.social-icons a span{
    position:absolute;
    top:-60px;

    padding:10px 18px;
    border-radius:14px;

    font-size:14px;
    font-weight:bold;

    opacity:0;
    transform:translateY(10px);

    transition:0.3s;
    pointer-events:none;

    color:white;
}

.social-icons a span::after{
    content:"";
    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-10px;

    border:10px solid transparent;
}

.social-icons a:hover span{
    opacity:1;
    transform:translateY(0);
}

/* COLORS */

.youtube{
    background:#ff0000;
}

.youtube:hover{
    box-shadow:0 0 25px #ff0000;
}

.youtube span{
    background:#ff0000;
}

.youtube span::after{
    border-top-color:#ff0000;
}

.facebook{
    background:#1877f2;
}

.facebook:hover{
    box-shadow:0 0 25px #1877f2;
}

.facebook span{
    background:#1877f2;
}

.facebook span::after{
    border-top-color:#1877f2;
}

.tiktok{
    background:#111;
}

.tiktok:hover{
    box-shadow:0 0 25px #ffffff50;
}

.tiktok span{
    background:#111;
}

.tiktok span::after{
    border-top-color:#111;
}

.instagram{
    background:#e1306c;
}

.instagram:hover{
    box-shadow:0 0 25px #e1306c;
}

.instagram span{
    background:#e1306c;
}

.instagram span::after{
    border-top-color:#e1306c;
}

.whatsapp{
    background:#25d366;
}

.whatsapp:hover{
    box-shadow:0 0 25px #25d366;
}

.whatsapp span{
    background:#25d366;
}

.whatsapp span::after{
    border-top-color:#25d366;
}

/* MOBILE */

@media(max-width:900px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .hero h2{
        font-size:40px;
    }

    .stats{
        grid-template-columns:1fr;
        padding:20px;
    }

    .services-box{
        grid-template-columns:1fr;
    }

    .projects{
        grid-template-columns:1fr;
        padding:20px;
    }

    .work h2{
        font-size:40px;
    }

    .social-icons a{
        width:65px;
        height:65px;
        font-size:28px;
    }

}