*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:white;

    background-image:
    linear-gradient(#111 1px, transparent 1px),
    linear-gradient(90deg, #111 1px, transparent 1px);

    background-size:40px 40px;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    border-bottom:1px solid #222;

    position:sticky;
    top:0;
    z-index:1000;

    background:#050505d8;
    backdrop-filter:blur(10px);
}

.logo h1{
    color:#39ff14;
    font-size:28px;
}

.links{
    display:flex;
    gap:35px;
}

.links a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:bold;
    transition:0.3s;
}

.links a:hover{
    color:#39ff14;
}

/* HERO */

.hero{
    position:relative;
    overflow:hidden;

    text-align:center;
    padding:140px 20px;
}

.hero-bg{
    position:absolute;
    inset:0;

    background:
    radial-gradient(circle at top,#39ff1420,transparent 70%);

    z-index:-1;
}

.hero h2{
    font-size:85px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero p{
    color:#aaa;
    font-size:22px;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

/* BUTTONS */

.contact-btn,
.view-btn{
    padding:16px 35px;
    border-radius:14px;

    text-decoration:none;
    font-weight:bold;

    transition:0.3s;
}

.contact-btn{
    background:#39ff14;
    color:black;
}

.contact-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #39ff14;
}

.view-btn{
    border:2px solid #39ff14;
    color:white;
}

.view-btn:hover{
    background:#39ff14;
    color:black;
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:30px;

    padding:40px 60px;
}

.stat-box{
    background:#0d0d0d;

    border:1px solid #222;
    border-radius:20px;

    padding:45px 20px;

    text-align:center;

    transition:0.3s;
}

.stat-box:hover{
    transform:translateY(-10px);
    border-color:#39ff14;

    box-shadow:0 0 25px #39ff1440;
}

.stat-box h3{
    color:#39ff14;
    font-size:50px;

    margin-bottom:10px;
}

.stat-box p{
    color:#999;
    font-size:18px;
}

/* SERVICES */

.services{
    padding:100px 60px;
    text-align:center;
}

.services h2{
    font-size:55px;
    margin-bottom:60px;
}

.services h2 span{
    color:#39ff14;
}

.services-box{
    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:25px;
}

.service{
    background:#0d0d0d;

    border:1px solid #222;
    border-radius:20px;

    padding:45px 25px;

    transition:0.3s;
}

.service:hover{
    transform:translateY(-10px);
    border-color:#39ff14;

    box-shadow:0 0 25px #39ff1440;
}

.service i{
    color:#39ff14;
    font-size:45px;

    margin-bottom:20px;
}

.service h3{
    font-size:24px;
    margin-bottom:15px;
}

.service p{
    color:#999;
    line-height:1.6;
}

/* PROJECTS */

.projects-section{
    padding:100px 60px;
    text-align:center;
}

.projects-section h2{
    font-size:55px;
    margin-bottom:15px;
}

.projects-section h2 span{
    color:#39ff14;
}

.project-text{
    color:#999;
    font-size:18px;

    margin-bottom:50px;
}

.projects{
    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:35px;
}

.project-card{
    position:relative;
    overflow:hidden;

    border-radius:25px;

    border:1px solid #222;

    transition:0.4s;
}

.project-card img{
    width:100%;
    display:block;

    transition:0.5s;
}

.project-card:hover img{
    transform:scale(1.08);
}

.project-card:hover{
    border-color:#39ff14;

    box-shadow:0 0 30px #39ff1440;
}

.overlay{
    position:absolute;
    inset:0;

    background:linear-gradient(to top,#000000d8,transparent);

    display:flex;
    align-items:flex-end;

    padding:30px;
}

.overlay h3{
    font-size:30px;
}

/* WHY ME */

.why-me{
    padding:100px 60px;
    text-align:center;
}

.why-me h2{
    font-size:55px;
    margin-bottom:60px;
}

.why-me h2 span{
    color:#39ff14;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:25px;
}

.why-box{
    background:#0d0d0d;

    border:1px solid #222;
    border-radius:20px;

    padding:45px 20px;

    transition:0.3s;
}

.why-box:hover{
    transform:translateY(-10px);

    border-color:#39ff14;

    box-shadow:0 0 25px #39ff1440;
}

.why-box i{
    color:#39ff14;
    font-size:45px;

    margin-bottom:20px;
}

.why-box h3{
    font-size:25px;
}

/* WORK */

.work{
    text-align:center;
    padding:120px 20px;
}

.work h2{
    font-size:65px;
    margin-bottom:20px;
}

.work h2 span{
    color:#39ff14;
}

.work p{
    color:#999;
    font-size:20px;

    margin-bottom:40px;
}

.work-btn{
    display:inline-flex;
    align-items:center;
    gap:15px;

    background:#111;

    border:2px solid #39ff14;

    color:white;
    text-decoration:none;

    padding:18px 40px;
    border-radius:16px;

    font-size:22px;
    font-weight:bold;

    transition:0.3s;
}

.work-btn i{
    color:#39ff14;
    font-size:30px;
}

.work-btn:hover{
    transform:scale(1.05);

    background:#39ff14;
    color:black;

    box-shadow:0 0 30px #39ff14;
}

/* SOCIALS */

.socials{
    padding:80px 20px;
    text-align:center;

    border-top:1px solid #222;
}

.socials h2{
    font-size:50px;
    margin-bottom:50px;
}

.socials h2 span{
    color:#39ff14;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:25px;

    flex-wrap:wrap;
}

.social-icons a{
    width:85px;
    height:85px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:35px;

    color:white;
    text-decoration:none;

    position:relative;

    transition:0.3s;
}

.social-icons a:hover{
    transform:translateY(-10px) scale(1.1);
}

/* TOOLTIP */

.social-icons a span{
    position:absolute;
    top:-60px;

    padding:10px 18px;

    border-radius:14px;

    font-size:14px;
    font-weight:bold;

    opacity:0;

    transform:translateY(10px);

    transition:0.3s;

    pointer-events:none;

    color:white;
}

.social-icons a span::after{
    content:"";

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-10px;

    border:10px solid transparent;
}

.social-icons a:hover span{
    opacity:1;
    transform:translateY(0);
}

/* COLORS */

.youtube{
    background:#ff0000;
}

.youtube:hover{
    box-shadow:0 0 25px #ff0000;
}

.youtube span{
    background:#ff0000;
}

.youtube span::after{
    border-top-color:#ff0000;
}

.facebook{
    background:#1877f2;
}

.facebook:hover{
    box-shadow:0 0 25px #1877f2;
}

.facebook span{
    background:#1877f2;
}

.facebook span::after{
    border-top-color:#1877f2;
}

.tiktok{
    background:#111;
}

.tiktok:hover{
    box-shadow:0 0 25px #ffffff60;
}

.tiktok span{
    background:#111;
}

.tiktok span::after{
    border-top-color:#111;
}

.instagram{
    background:#e1306c;
}

.instagram:hover{
    box-shadow:0 0 25px #e1306c;
}

.instagram span{
    background:#e1306c;
}

.instagram span::after{
    border-top-color:#e1306c;
}

.whatsapp{
    background:#25d366;
}

.whatsapp:hover{
    box-shadow:0 0 25px #25d366;
}

.whatsapp span{
    background:#25d366;
}

.whatsapp span::after{
    border-top-color:#25d366;
}

/* COPYRIGHT */

.copyright{
    margin-top:50px;
    color:#666;
    font-size:15px;
}

/* MOBILE */

@media(max-width:1000px){

    .services-box,
    .why-container{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:900px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .hero h2{
        font-size:50px;
    }

    .stats{
        grid-template-columns:1fr;
        padding:20px;
    }

    .projects{
        grid-template-columns:1fr;
    }

    .services-box,
    .why-container{
        grid-template-columns:1fr;
    }

    .projects-section,
    .services,
    .why-me{
        padding:80px 20px;
    }

    .work h2{
        font-size:45px;
    }

    .social-icons a{
        width:70px;
        height:70px;
        font-size:28px;
    }

}